header {
    background-color: #1F2937;
}

footer {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    margin: 25px;
}

img  {
    border: 5px solid #3882F6;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    border: #3882F6;
    color: #3882F6;
    font-weight: 700;
}

.header_links {
    display: flex;
    gap: 16px;
    font-size: 24px;
    color: #F9FAF8;
}

.top_header { 
    display: flex;
    justify-content: space-around;
}

.bottom_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 100px;
    padding:75px;
    flex-wrap: wrap;
}

.header_text {
    width: 400px;
}

.header_big_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.header_small_text {
    font-size: 18px;
    color: #E5E7EB;
}

.information_header {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
}